{% extends "siem/base.html" %}

{% block content-main %}

<h1>Events (auth)</h1>

<form method="get" action="{% url 'siem:authevent_search' %}">
    <p>Filter: <input type="text" value="{{filter}}" name="filter"/></p>
    <p><input type="submit" name="submit" value="Submit"/></p>
</form>

{% if event_list %}
    <ul>
        {% for e in event_list %}
            <li><a href="{% url 'siem:authevent_detail' e.id %}">
                    &middot</a> {{ e.raw_text }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No events.</p>
{% endif %}

{% endblock %}
