{% extends "siem/base.html" %}

{% block sub-title %}Index | {% endblock %}

{% block content-main %}

<h1>Security Information and Event Management</h1>

<ul>
    <li>Events:<ul>
        <li><a href="{% url 'siem:logevent_search' %}">Log Events</a></li>
        <li><a href="{% url 'siem:ruleevent_search' %}">Rule-Based Events</a></li>
        </ul>
    <li><a href="{% url 'siem:lr_index' %}">Limit Rules</a></li>
    <li><a href="{% url 'siem:lp_index' %}">Parsers</a></li>
    <li><a href="{% url 'siem:ph_index' %}">Parse Helpers</a></li>
</ul>

{% endblock %}
