{% extends "siem/base.html" %}

{% block sub-title %}Add Limit Rule | {% endblock %}

{% block content-main %}

<h1>Add Limit Rule</h1>
<form action="" method="post">{% csrf_token %}
    <h2>Rule Settings</h2>
    <table>
        <tr>
            <th>Attribute</th><th>Setting</th><th class="left">Description</th>
        </tr>
        <tr>
            <td>Name</td><td>{{ form.name }}</td><td>The rule name.</td>
        </tr>
        <tr>
            <td>Desc</td><td>{{ form.desc }}</td><td>The rule description.</td>
        </tr>
        <tr>
            <td>Enabled?</td><td>{{ form.is_enabled }}</td><td>Whether the rule is enabled.</td>
        </tr>
        <tr>
            <td>Reversed?</td><td>{{ form.reverse_logic }}</td><td>Whether the rule logic is reversed.</td>
        </tr>
        <tr>
            <td>Rule Events?</td><td>{{ form.rule_events }}</td><td>Whether the rule wathes rule events (vs. log events).</td>
        </tr>
        <tr>
            <td>Category</td><td>{{ form.rule_category }}</td><td>The rule category.</td>
        </tr>
        <tr>
            <td>Event Lifespan (local)</td><td>{{ form.local_lifespan_days }}</td><td>The lifespan of resulting events in the local database.</td>
        </tr>
        <tr>
            <td>Event Lifespan (backup)</td><td>{{ form.backup_lifespan_days }}</td><td>The lifespan of backup copies of resulting events.</td>
        </tr>
        <tr>
            <td>Alerts Enabled?</td><td>{{ form.email_alerts }}</td><td>Whether the rule triggers email alerts.</td>
        </tr>
        <tr>
            <td>Email Alert Users</td><td>{{ form.alert_users }}</td><td>Users to alert via email.</td>
        </tr>
        <tr>
            <td>Message</td><td>{{ form.message }}</td><td>The message for events created by the rule.</td>
        </tr>
    </table>

    <h2>Timing and Severity</h2>
    <table>
        <tr>
            <td>Severity</td><td>{{ form.severity }}</td><td>The rule's severity.</td>
        </tr>
        <tr>
            <td>Severity Modifier</td><td>{{ form.severity_modifier }}</td><td>The multiplier for severity when calculating magnitude.</td>
        </tr>
        <tr>
            <td>overkill Modifier</td><td>{{ form.overkill_modifier }}</td><td>The multiplier for overkill ratio when calculating magnitude.</td>
        </tr>
        <tr>
            <td>Time Interval</td><td>{{ form.time_int }}</td><td>The time interval for the rule to monitor.</td>
        </tr>
        <tr>
            <td>Event Limit</td><td>{{ form.event_limit }}</td><td>The number of events to allow before triggering the rule.</td>
        </tr>
        <tr>
            <td></td><td>{{ form. }}</td><td></td>
        </tr>
        <tr>
            <td></td><td>{{ form. }}</td><td></td>
        </tr>
        <tr>
            <td></td><td>{{ form. }}</td><td></td>
        </tr>
        <tr>
            <td></td><td>{{ form. }}</td><td></td>
        </tr>
        <tr>
            <td></td><td>{{ form. }}</td><td></td>
        </tr>
        <tr>
            <td></td><td>{{ form. }}</td><td></td>
        </tr>
        <tr>
            <td></td><td>{{ form. }}</td><td></td>
        </tr>
    </table>
    <h2>Basic Criteria</h2>
    <table>
        <tr>
            <td>Event Type</td><td>{{ form.event_type }}</td><td>The event type for the rule to monitor.</td>
        </tr>
        <tr>
            <td>Message Filter</td><td>{{ form.message_filter_regex }}</td><td>Search criteria for the event's message attribute (case insensitive regex).</td>
        </tr>
    </table>
    <h2>Log Event Criteria</h2>
    <h3>Regular Expression Filters</h3>
    <p>All regular expression filters use case insensitive regular expressions.</p>
    <table>
        <tr>
            <td>Log Source Filter</td><td>{{ form.log_source_filter_regex }}</td><td>Search criteria for the event's log_source attribute.</td>
        </tr>
        <tr>
            <td>Source Process Filter</td><td>{{ form.source_process_filter_regex }}</td><td>Search criteria for the event's source_process attribute.</td>
        </tr>
        <tr>
            <td>Action Filter</td><td>{{ form.action_filter_regex }}</td><td>Search criteria for the event's action attribute.</td>
        </tr>
        <tr>
            <td>Interface Filter</td><td>{{ form.interface_filter_regex }}</td><td>Search criteria for the event's interface attribute.</td>
        </tr>
        <tr>
            <td>Status Filter</td><td>{{ form.status_filter_regex }}</td><td>Search criteria for the event's status attribute.</td>
        </tr>
        <tr>
            <td>Source Host Filter</td><td>{{ form.source_host_filter_regex }}</td><td>Search criteria for the event's source_host attribute.</td>
        </tr>
        <tr>
            <td>Source Port Filter</td><td>{{ form.source_port_filter_regex }}</td><td>Search criteria for the event's source_port attribute.</td>
        </tr>
        <tr>
            <td>Dest Host Filter</td><td>{{ form.dest_host_filter_regex }}</td><td>Search criteria for the event's dest_host attribute.</td>
        </tr>
        <tr>
            <td>Dest Port Filter</td><td>{{ form.dest_port_filter_regex }}</td><td>Search criteria for the event's dest_port attribute.</td>
        </tr>
        <tr>
            <td>Command Filter</td><td>{{ form.command_filter_regex }}</td><td>Search criteria for the event's command attribute.</td>
        </tr>
        <tr>
            <td>Source User Filter</td><td>{{ form.source_user_filter_regex }}</td><td>Search criteria for the event's source_user attribute.</td>
        </tr>
        <tr>
            <td>Target User Filter</td><td>{{ form.target_user_filter_regex }}</td><td>Search criteria for the event's target_user attribute.</td>
        </tr>
        <tr>
            <td>Path Filter</td><td>{{ form.path_filter_regex }}</td><td>Search criteria for the event's path attribute.</td>
        </tr>
        <tr>
            <td>Parameters Filter</td><td>{{ form.parameters_filter_regex }}</td><td>Search criteria for the event's parameters attribute.</td>
        </tr>
        <tr>
            <td>Referrer Filter</td><td>{{ form.referrer_filter_regex }}</td><td>Search criteria for the event's referrer attribute.</td>
        </tr>
        <tr>
            <td>Raw Text Filter</td><td>{{ form.raw_text_filter_regex }}</td><td>Search criteria for the raw event.</td>
        </tr>
    </table>
    <h3>List Matching</h3>
    <table>
        <tr>
            <td>Match List File Path</td><td>{{ form.match_list_path }}</td><td>The path for the match list file on the LogESP server.</td>
        </tr>
        <tr>
            <td>Match Field</td><td>{{ form.match_field }}</td><td>The event field to compare to the match list.</td>
        </tr>
        <tr>
            <td>Allow List</td><td>{{ form.match_allowlist }}</td><td>Use list as allowlist instead of blocklist.</td>
        </tr>
    </table>
    <h2>Rule Event Criteria</h2>
    <table>
        <tr>
            <td>Magnitude Filter</td><td>{{ form.magnitude_filter }}</td><td>The minimum magnitude required to set off the rule.</td>
        </tr>
        <tr>
            <td>Rule Name Filter</td><td>{{ form.rulename_filter_regex }}</td><td>Search criteria for the name of the event's source rule.</td>
        </tr>
    </table>
    <input type="submit" value="Save" />
</form>

{% endblock %}
