{% extends "siem/base.html" %}

{% block sub-title %} | Log Events{% endblock %}

{% block content-main %}

<h1>Log Events</h1>

<form method="get" action="{% url 'siem:logevent_search' %}">
    <table class="searchform">
        <tr>
            <td class="searchform">Log Source:
                <input type="text" value="{{ log_source_filter }}" name="log_source_filter"/>
            </td>
            <td class="searchform">Process:
        
                <input type="text" value="{{ process_filter }}" name="process_filter"/>
            </td>
            <td class="searchform">Message:
        
                <input type="text" value="{{ message_filter }}" name="message_filter"/>
            </td>
            <td class="searchform">Raw Text:
                <input type="text" value="{{ raw_filter }}" name="raw_filter"/>
            </td>
        </tr>
        <tr>
            <td class="searchform">Source Host:
                <input type="text" value="{{ source_host_filter }}" name="source_host_filter"/></td>
            <td class="searchform">Source Port:
                <input type="text" value="{{ source_port_filter }}" name="source_port_filter"/></td>
            <td class="searchform">Dest. Host:
                <input type="text" value="{{ dest_host_filter }}" name="dest_host_filter"/></td>
            <td class="searchform">Dest. Port:
                <input type="text" value="{{ dest_port_filter }}" name="dest_port_filter"/></td>
        </tr>
        <tr>
            <td class="searchform">Event Type:
                <input type="text" value="{{ type_filter }}" name="type_filter"/></td>
            <td class="searchform">End Date/Time:
                <input type="datetime-local" value="{{ time_filter }}" name="time_filter"</a></td>
            <td class="searchsubmit">(YYYY-M-D H:M:S)</td>
        </tr>
        <tr><td class="searchsubmit"><input type="submit" name="submit" value="Search"/></td></tr>
    </table>
</form>

{% if event_list %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.get_path }}?log_source_filter={{ log_source_filter }}&process_filter={{ process_filter }}&source_host_filter={{ source_host_filter }}&dest_host_filter={{ dest_host_filter }}&type_filter={{ type_filter }}&message_filter={{ message_filter }}&raw_filter={{ raw_filter }}&time_filter={{ time_filter }}&page={{ page_obj.previous_page_number }}">previous</a>
                    &middot;
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    &middot;
                    <a href="{{ request.get_path }}?log_source_filter={{ log_source_filter }}&process_filter={{ process_filter }}source_host_filter={{ source_host_filter }}&&source_port_filter={{ source_port_filter }}&dest_host_filter={{ dest_host_filter }}&dest_port_filter={{ dest_port_filter }}&type_filter={{ type_filter }}&message_filter={{ message_filter }}&raw_filter={{ raw_filter }}&time_filter={{ time_filter }}&page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

    <table class="event">
        <tr><th>ID</th><th>Date Stamp</th>
            <th>Event<br>Type</th><th>Log<br>Source</th>
            <th>Source<br>Process</th><th>#<br>Aggr</th><th>Message</th></tr>
        {% for e in event_list %}
        <tr>
            <td><a class="event" href="{% url 'siem:logevent_detail' e.id %}">
                    {{ e.id }}</td>
            <td>{{ e.date_stamp }}</a></td>
            <td>{{ e.event_type }}</td>
            <td>{{ e.log_source }}</td>
            <td>{{ e.source_process|truncatechars:10 }}[{{ e.source_pid }}]</td>
            <td>{{ e.aggregated_events }}</td>
            <td>{{ e.message|truncatechars:105 }}</td>
            </a>
        </tr>
        {% endfor %}
    </table>

{% else %}
    <p>No events.</p>
{% endif %}

{% endblock %}
