{% extends "siem/base.html" %}

{% block sub-title %}Log Event | {% endblock %}

{% block content-main %}

<h1>Log Event</h1>
<a href="{% url 'siem:logevent_search' %}">Index</a>

<ul>
    <li>ID: {{ event.id }}</li>
    <li>Parsed At: {{ event.parsed_at|date:"Y M d H:i:s.u" }}</li>
    <li>Time Zone: {{ event.time_zone }}</li>
    <li>SIEM EOL Date: {{ event.eol_date_local|date:"Y M d" }}</li>
    <li>Backup EOL Date: {{ event.eol_date_backup|date:"Y M d" }}</li>
    <li>Parsed On: {{ event.parsed_on }}</li>
    <li>Source Path: {{ event.source_path }}</li>
    <li>Log Source: {{ event.log_source }}</li>
    <li>Aggregated Events: {{event.aggregated_events }}</li>
    <li>Event Type: {{ event.event_type }}</li>
    <li>Facility: {{ event.get_facility_display }}</li>
    <li>Severity: {{ event.get_severity_display }}</li>
    <li>Date Stamp: {{ event.date_stamp }}</li>
    <li>Source Host: {{ event.source_host }}</li>
    <li>Source Port: {{ event.source_port }}</li>
    <li>Dest Host: {{ event.dest_host }}</li>
    <li>Dest Port: {{ event.dest_port }}</li>
    <li>Protocol: {{ event.protocol }}</li>
    <li>Packet Count: {{ event.packet_count }}</li>
    <li>Byte Count: {{ event.byte_count }}</li>
    <li>TCP Flags: {{ event.tcp_flags }}</li>
    <li>Class of Service: {{ event.class_of_service }}</li>
    <li>Interface: {{ event.interface }}</li>
    <li>Status: {{ event.status }}</li>
    <li>Start Time: {{ event.start_time }}</li>
    <li>Duration: {{ event.duration }}</li>
    <li>Source Process: {{ event.source_process }}</li>
    <li>Source PID: {{ event.source_pid }}</li>
    <li>Action: {{ event.action }}</li>
    <li>Command: {{ event.command }}</li>
    <li>Source User: {{ event.source_user }}</li>
    <li>Target User: {{ event.target_user }}</li>
    <li>Session: {{ event.sessionid }}</li>
    <li>Path: {{ event.path }}</li>
    <li>Parameters: {{ event.parameters }}</li>
    <li>Referrer: {{ event.referrer }}</li>
    <li>Message: {{ event.message }}</li>
    <li>Ext0: {{ event.ext0 }}</li>
    <li>Ext1: {{ event.ext1 }}</li>
    <li>Ext2: {{ event.ext2 }}</li>
    <li>Ext3: {{ event.ext3 }}</li>
    <li>Ext4: {{ event.ext4 }}</li>
    <li>Ext5: {{ event.ext5 }}</li>
    <li>Ext6: {{ event.ext6 }}</li>
    <li>Ext7: {{ event.ext7 }}</li>
    <li>Raw Text: {{ event.raw_text }}</li>
</ul>

{% endblock %}
