{% extends "siem/base.html" %}

{% block sub-title %} | Log Event{% endblock %}

{% block content-main %}

<h1>Log Event</h1>

<ul>
    <li>ID: {{ event.id }}</li>
    <li>Parsed At: {{ event.parsed_at|date:"Y M d H:i:s.u" }}</li>
    <li>Time Zone: {{ event.time_zone }}</li>
    <li>SIEM EOL Date: {{ event.eol_date_local|date:"Y M d" }}</li>
    <li>Backup EOL Date: {{ event.eol_date_backup|date:"Y M d" }}</li>
    <li>Parsed On: {{ event.parsed_on }}</li>
    <li>Source Path: {{ event.source_path }}</li>
    <li>Log Source: {{ event.log_source }}</li>
    <li>Aggregated Events: {{event.aggregated_events }}</li>
    <li>Event Type: {{ event.event_type }}</li>
    <li>Facility: {{ event.facility }}</li>
    <li>Severity: {{ event.severity }}</li>
    <li>Date Stamp: {{ event.date_stamp }}</li>
    <li>Source Host: {{ event.source_host }}</li>
    <li>Source Port: {{ event.source_port }}</li>
    <li>Dest Host: {{ event.dest_host }}</li>
    <li>Dest Port: {{ event.dest_port }}</li>
    <li>Protocol: {{ event.protocol }}</li>
    <li>Source Process: {{ event.source_process }}</li>
    <li>Source PID: {{ event.source_pid }}</li>
    <li>Action: {{ event.action }}</li>
    <li>Message: {{ event.message }}</li>
    <li>Extended: {{ event.extended }}</li>
    <li>Raw Text: {{ event.raw_text }}</li>
</ul>

{% endblock %}
