{% extends "siem/base.html" %}

{% block sub-title %} | Log Events{% endblock %}

{% block content-main %}

<h1>Log Events</h1>

<form method="get" action="{% url 'siem:logevent_search' %}">
    <p>Filter: <input type="text" value="{{filter}}" name="filter"/></p>
    <p><input type="submit" name="submit" value="Submit"/></p>
</form>

{% if event_list %}
    <ul>
        {% for e in event_list %}
            <li><a href="{% url 'siem:logevent_detail' e.id %}">
                    &middot</a> {{ e.raw_text }}</li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if event_list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ event_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ event_list.number }} of
                {{ event_list.paginator.num_pages }}.
            </span>

            {% if event_list.has_next %}
                <a href="?page={{ event_list.next_page_number }}">next</a>
                <a href="?page={{ event_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <p>No events.</p>
{% endif %}

{% endblock %}
