{% extends "siem/base.html" %}

{% block sub-title %}Parsers | {% endblock %}

{% block content-main %}

<h1>Log Event Parsers</h1>
<a href="{% url 'siem:lp_create' %}">Add</a>

{% if lp_list %}
    <table>
        <tr><th>Name</th><th>Built-<br>in?</th><th>Fields</th></tr>
        {% for lp in lp_list %}
            <tr>
                <td><a href="{% url 'siem:lp_detail' lp.id %}">
                        {{ lp }}</a></td>
                <td>{{ lp.is_builtin }}</td>
                <td>{{ lp.fields }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No limit rules.</p>
{% endif %}

{% endblock %}
