{% extends "siem/base.html" %}

{% block sub-title %}Limit Rule - {{ lr }} | {% endblock %}

{% block content-main %}

<h1>{{ lr }} (Limit Rule)</h1>
<a href="{% url 'siem:lr_update' lr.id %}">Edit</a>
&middot;
<a href="{% url 'siem:lr_delete' lr.id %}">Delete</a>
&middot;
<a href="{% url 'siem:lr_index' %}">Index</a>

<ul>
    <li>ID: {{ lr.id }}</li>
    <li>Name: {{ lr.name }}</li>
    <li>Desc: {{ lr.desc }}</li>
    <li>Built-in?: {{lr.is_builtin }}</li>
    <li>Rule Category: {{ lr.rule_category }}</li>
    <li>SIEM Event Lifespan: {{ lr.local_lifespan_days }} days</li>
    <li>Backup Event Lifespan: {{ lr.backup_lifespan_days }} days</li>
    <li>Enabled?: {{ lr.is_enabled }}</li>
    <li>Reversed Logic?: {{ lr.reverse_logic }}</li>
    <li>Email alerts enabled?: {{ lr.email_alerts }}</li>
    <li>Alert Users:<ul>
            {% for u in lr.alert_users.all %}
            <li>{{ u.name }} ({{ u.email }})</li>
            {% endfor %}
        </ul>
    <li>Rule Events?: {{ lr.rule_events }}</li>
    <li>Event Type: {{ lr.event_type }}</li>
    <li>Timing and Severity:<ul>
            <li>Severity: {{ lr.severity }}</li>
            <li>Overkill Modifier: {{ lr.overkill_modifier }}</li>
            <li>Severity Modifier: {{ lr.severity_modifier }}</li>
            <li>Time Interval: {{ lr.time_int }}</li>
            <li>Event Limit: {{ lr.event_limit }}</li>
        </ul></li>
    <li>Trigger Logic:<ul>
        <li>Allowed Source Hosts: {{ lr.allowed_log_sources }}</li>
        <li>Message Filter Regex: {{ lr.message_filter_regex }}</li>
        <li>Log Event Filters:<ul>
            <li>Log Source Filter Regex: {{ lr.log_source_filter_regex }}</li>
            <li>Process Filter Regex: {{ lr.process_filter_regex }}</li>
            <li>Action Filter Regex: {{ lr.action_filter_regex }}</li>
            <li>Interface Filter Regex: {{ lr.interface_filter_regex }}</li>
            <li>Status Filter Regex: {{ lr.status_filter_regex }}</li>
            <li>Source Host Filter Regex: {{ lr.source_host_filter_regex }}</li>
            <li>Source Port Filter Regex: {{ lr.source_port_filter_regex }}</li>
            <li>Dest Host Filter Regex: {{ lr.dest_host_filter_regex }}</li>
            <li>Dest Port Filter Regex: {{ lr.dest_port_filter_regex }}</li>
            <li>Source User Filter Regex: {{ lr.source_user_filter_regex }}</li>
            <li>Target User Filter Regex: {{ lr.target_user_filter_regex }}</li>
            <li>Raw Text Filter Regex: {{ lr.raw_text_filter_regex }}</li>
            <li>Match List:<ul>
                <li>Match List Path: {{ lr.match_list_path }}</li>
                <li>Match Field: {{ lr.match_field }}</li>
                <li>Reverse Matching?: {{ lr.match_allowlist }}</li>
                </ul>
            </ul>
        <li>Rule Event Filters:<ul>
            <li>Rule Name Filter Regex: {{ lr.rulename_filter_regex }}</li>
            <li>Min. Magnitude: {{ lr.magnitude_filter }}</li></ul>
        </ul></li>
    <li>Message: {{ lr.message }}</li>
</ul>

{% endblock %}
