{% extends "siem/base.html" %}

{% block sub-title %} | Limit Rule - {{ lr }}{% endblock %}

{% block content-main %}

<h1>{{ lr }} (Limit Rule)</h1>
<a href="{% url 'siem:lr_update' lr.id %}">Edit</a>
&middot;
<a href="{% url 'siem:lr_delete' lr.id %}">Delete</a>
&middot;
<a href="{% url 'siem:lr_index' %}">Index</a>

<ul>
    <li>ID: {{ lr.id }}</li>
    <li>Name: {{ lr.name }}</li>
    <li>Desc: {{ lr.desc }}</li>
    <li>Rule Category: {{ lr.rule_category }}</li>
    <li>SIEM Event Lifespan: {{ lr.local_lifespan_days }} days</li>
    <li>Backup Event Lifespan: {{ lr.backup_lifespan_days }} days</li>
    <li>Enabled?: {{ lr.is_enabled }}</li>
    <li>Email alerts enabled?: {{ lr.email_alerts }}</li>
    <li>Alert Users:<ul>
            {% for u in lr.alert_users.all %}
            <li>{{ u.name }} ({{ u.email }})</li>
            {% endfor %}
        </ul>
    <li>Rule Events?: {{ lr.rule_events }}</li>
    <li>Event Type: {{ lr.event_type }}</li>
    <li>Severity: {{ lr.severity }}</li>
    <li>Overkill Modifier: {{ lr.overkill_modifier }}</li>
    <li>Severity Modifier: {{ lr.severity_modifier }}</li>
    <li>Time Interval: {{ lr.time_int }}</li>
    <li>Event Limit: {{ lr.event_limit }}</li>
    <li>Allowed Source Hosts: {{ lr.allowed_log_sources }}</li>
    <li>Message Filter Regex: {{ lr.message_filter_regex }}</li>
    <li>Log Event Filters:<ul>
        <li>Log Source Filter: {{ lr.log_source_filter }}</li>
        <li>Process Filter: {{ lr.process_filter }}</li>
        <li>Source Host Filter: {{ lr.source_host_filter }}</li>
        <li>Source Port Filter: {{ lr.source_port_filter }}</li>
        <li>Dest Host Filter: {{ lr.dest_host_filter }}</li>
        <li>Dest Port Filter: {{ lr.dest_port_filter }}</li>
        <li>Raw Text Filter Regex: {{ lr.raw_text_filter_regex }}</li></ul>
    <li>Rule Event Filters:<ul>
        <li>Rule Name Filter: {{ lr.rulename_filter }}</li>
        <li>Min. Magnitude: {{ lr.magnitude_filter }}</li></ul>
    <li>Message: {{ lr.message }}</li>
</ul>

{% endblock %}
