{% extends "siem/base.html" %}

{% block sub-title %}Limit Rules | {% endblock %}

{% block content-main %}

<h1>Limit Rules</h1>
<a href="{% url 'siem:lr_create' %}">Add</a>

{% if lr_list %}
    <table>
        <tr><th>Rule Name</th><th>Event<br>Type</th>
            <th>Rule<br>Events?</br><th>Enabled?</th>
                <th>Built-<br>in?</th></tr>
        {% for lr in lr_list %}
            <tr><td><a href="{% url 'siem:lr_detail' lr.id %}">
                    {{ lr }}</a></td>
                <td>{{ lr.event_type }}</td>
                <td>{{ lr.rule_events }}</td>
                <td>{{ lr.is_enabled }}</td>
                <td>{{ lr.is_builtin }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No limit rules.</p>
{% endif %}

{% endblock %}
