
<div id="topbar">
    <div class="navbar">
        <div class="navbar-content">
            <a class="navbar" href="{% url 'siem:index' %}">
                <b>SIEM</b></a>
            &middot;
            <a class="navbar" href="{% url 'siem:logevent_search' %}">
                Log Events</a>
            &middot;
            <a class="navbar" href="{% url 'siem:ruleevent_search' %}">
                Rule Events</a>
            &middot;
            <a class="navbar" href="{% url 'siem:lr_index' %}">
                Limit Rules</a>
        </div>
    </div>
</div>
