{% extends "siem/base.html" %}

{% block sub-title %} | Events - Rule-Based{% endblock %}

{% block content-main %}

<h1>Events (Rule-Based)</h1>

<form method="get" action="{% url 'siem:ruleevent_search' %}">
    <p>Filter: <input type="text" value="{{filter}}" name="filter"/></p>
    <p><input type="submit" name="submit" value="Submit"/></p>
</form>

{% if event_list %}
    <table>
        <tr><td>&middot</td><td>Date Stamp</td><td>Event Type</td>
            <td>Magnitude</td><td>Message</td></tr>
        {% for e in event_list %}
        <tr>
            <td><a href="{% url 'siem:ruleevent_detail' e.id %}">
                    &middot</a></td>
            <td>{{ e.date_stamp }}</td>
            <td>{{ e.event_type }}</td>
            <td>{{ e.magnitude }}</td>
            <td>{{ e.message }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No events.</p>
{% endif %}

{% endblock %}
