
[auth]
filename=/var/log/auth.log
event_type=auth
parser=syslog
helper_type=auth
local_lifespan_days=185
backup_lifespan_days=366

[kernel]
filename=/var/log/kern.log
event_type=kernel
parser=syslog
local_lifespan_days=185
backup_lifespan_days=366
facility=0

[logesp_nginx]
filename=/var/log/nginx/access.log
event_type=web_access
parser=web_access
helper_type=web_access
log_source=LogESP-web
source_process = nginx
local_lifespan_days=185
backup_lifespan_days=366

#[mail]
#filename=/var/log/mail.log
#event_type=mail
#parser=syslog
#local_lifespan_days=185
#backup_lifespan_days=366
#facility=2

[daemon]
filename=/var/log/daemon.log
event_type=daemon
parser=syslog
local_lifespan_days=185
backup_lifespan_days=366
facility=3

#[audit]
#filename=/var/log/audit.log
#event_type=auditd
#parser=syslog
#helper_type=auditd
#local_lifespan_days=185
#backup_lifespan_days=366
#facility=22

[cisco]
filename=/var/log/cisco.log
event_type=cisco_ios
parser=cisco_ios
helper_type=cisco_ios
local_lifespan_days=185
backup_lifespan_days=366
facility=23

#[snort]
#filename=/var/log/snort.log
#event_type=snort_ids
#parser=syslog
#helper_type=snort_ids
#local_lifespan_days=185
#backup_lifespan_days=366
#facility=21

#[windows]
#filename=/var/log/windows.log
#event_type=windows
#parser=windows_rsyslog
#helper_type=windows
#local_lifespan_days=185
#backup_lifespan_days=366
#facility=19
