<h1>{{ hw.asset_name }} (Hardware Asset)</h1>
<p>{{ hw.asset_desc }}</p>
<ul>
    <li>Organizational Unit: {{ hw.org_unit }}</li>
    <li>Owner: {{ hw.asset_owner }}</li>
    <li>Custodian: {{ hw.asset_custodian }}</li>
    <li>Child Software:<ul>
        {% for a in hw.child_software.all %}
            <li><a href="{% url 'hwam:sw_detail' a.id %}">{{ a.asset_name }}</a></li>
        {% endfor %}
        </ul></li>
    <li>Device Type: {{ hw.device_type }}</li>
    <li>Property ID: {{ hw.property_id }}</li>
    <li>Location: {{ hw.location }}</li>
    <li>Status: {{ hw.status }}</li>
    <li>Lifespan:<ul>
    <li>Date Added: {{ hw.date_added }}</li>
    <li>EOL Date: {{ hw.date_eol }}</li></ul></li>
</ul>
