<h1>{{ hw.asset_name }} (Hardware Asset)</h1>
<p>{{ hw.asset_desc }}</p>
<ul>
    <li>Organizational Unit:
        <a href="{% url 'hwam:ou_detail' hw.org_unit.id %}">
            {{ hw.org_unit }}</a></li>
    <li>Owner:
        {% if hw.asset_owner %}
            {{ hw.asset_owner.username }}
            <a href="mailto:{{ hw.asset_owner.email }}">
                {{ hw.asset_owner.email }}</a>
        {% else %}
            {{ hw.org_unit.unit_contact.username }}
            <a href="mailto:{{ hw.org_unit.unit_contact.email }}">
                {{ hw.org_unit.unit_contact.email }}</a>
        {% endif %}
    </li>
    <li>Custodian:
        {% if hw.asset_custodian %}
            {{ hw.asset_custodian.username }}
            <a href="mailto:{{ hw.asset_custodian.email }}">
                {{ hw.asset_custodian.email }}</a>
        {% else %}
            {{ hw.org_unit.unit_contact.username }}
            <a href="mailto:{{ hw.org_unit.unit_contact.email }}">
                {{ hw.org_unit.unit_contact.email }}</a>
        {% endif %}
    </li>
    <li>Child Software:<ul>
        {% for a in hw.child_software.all %}
            <li><a href="{% url 'hwam:sw_detail' a.id %}">
                    {{ a.asset_name }}</a></li>
        {% endfor %}
        </ul></li>
    <li>Device Type: {{ hw.device_type }}</li>
    <li>Property ID: {{ hw.property_id }}</li>
    <li>Location: {{ hw.location }}</li>
    <li>Status: {{ hw.status }}</li>
    <li>Lifespan:<ul>
    <li>Date Added: {{ hw.date_added }}</li>
    <li>EOL Date: {{ hw.date_eol }}</li></ul></li>
</ul>
