{% include "hwam/base.html" %}

<h1>{{ hw.asset_name }} (Hardware Asset)</h1>
<a href="{% url 'admin:hwam_hardwareasset_change' hw.id %}">Edit</a>
<p>{{ hw.asset_desc }}</p>
<ul>
    <li>Organizational Unit:
        <a href="{% url 'hwam:ou_detail' hw.org_unit.id %}">
            {{ hw.org_unit }}</a></li>
    <li>Owner:
        {% if hw.asset_owner %}
            {{ hw.asset_owner.username }}
            <a href="mailto:{{ hw.asset_owner.email }}">
                {{ hw.asset_owner.email }}</a>
        {% else %}
            {{ hw.org_unit.unit_contact.username }}
            <a href="mailto:{{ hw.org_unit.unit_contact.email }}">
                {{ hw.org_unit.unit_contact.email }}</a>
        {% endif %}
    </li>
    <li>Custodian:
        {% if hw.asset_custodian %}
            {{ hw.asset_custodian.username }}
            <a href="mailto:{{ hw.asset_custodian.email }}">
                {{ hw.asset_custodian.email }}</a>
        {% else %}
            {{ hw.org_unit.unit_contact.username }}
            <a href="mailto:{{ hw.org_unit.unit_contact.email }}">
                {{ hw.org_unit.unit_contact.email }}</a>
        {% endif %}
    </li>
    {% if hw.parent_hardware %}
    <li>Parent Hardware:<ul>
        <li><a href="{% url 'hwam:hw_detail' hw.parent_hardware.id %}">
                {{ hw.parent_hardware.asset_name }}</a></li>
        </ul></li>
    {% endif %}
    {% if hw.child_hardware.all %}
    <li>Child Hardware:<ul>
        {% for a in hw.child_hardware.all %}
            <li><a href="{% url 'hwam:hw_detail' a.id %}">
                    {{ a.asset_name }}</a></li>
        {% endfor %}
        </ul></li>
    {% endif %}
    {% if hw.child_software.all %}
        <li>Child Software:<ul>
            {% for a in hw.child_software.all %}
                <li><a href="{% url 'hwam:sw_detail' a.id %}">
                        {{ a.asset_name }}</a></li>
            {% endfor %}
            </ul></li>
    {% endif %}
    <li>Device Type: {{ hw.device_type }}</li>
    <li>Property ID: {{ hw.property_id }}</li>
    <li>Location: {{ hw.location }}</li>
    <li>Status: {{ hw.status }}</li>
    <li>Lifespan:<ul>
    <li>Date Added: {{ hw.date_added }}</li>
    <li>EOL Date: {{ hw.date_eol }}</li></ul></li>
</ul>
