<div id="topbar">
    <div class="navbar">
        <div class="navbar-content">
            <div class="navbar-left">
                <a class="navbar" href="{% url 'hwam:index' %}">
                    <b>Assets</b></a>
                &middot;
                <a class="navbar" href="{% url 'hwam:ou_index' %}">
                    Org. Units</a>
                &middot;
                <a class="navbar" href="{% url 'hwam:hw_index' %}">
                    Hardware Assets</a>
                &middot;
                <a class="navbar" href="{% url 'hwam:sw_index' %}">
                    Software Assets</a>
            </div>
            <div class="navbar-right">
                <a class="navbar" href="{% url 'hwam:help_index' %}">
                    Help</a>
            </div>
        </div>
    </div>
</div>
