
<div id="topbar">
    <div class="navbar">
        <div class="navbar-content">
            <b>Assets</b>
            &middot
            <a class="navbar" href="{% url 'hwam:index' %}">Home</a>
            &middot
            <a class="navbar" href="{% url 'hwam:ou_index' %}">
                Org. Units</a>
            &middot
            <a class="navbar" href="{% url 'hwam:hw_index' %}">
                Hardware Assets</a>
            &middot
            <a class="navbar" href="{% url 'hwam:sw_index' %}">
                Software Assets</a>
        </div>
    </div>
</div>
