{% extends "hwam/base.html" %}

{% block sub-title %}Software Assets | {% endblock %}

{% block content-main %}

<h1>Add Software Asset</h1>
{% if form.errors %}
<p>There were some errors.</p>

<ul>
    {% for field in form %}
    {% if field.errors %}
    <li>{{ field.label_tag }}: {{ field.errors }}</li>
    {% endif %}
    {% endfor %}
</ul>

{% endif %}

<form action="" method="post">{% csrf_token %}
    <h2>Basic Info</h2>
    <table>
        <tr>
            <th>Attribute</th><th>Setting</th><th class="left">Description</th>
        </tr>
        <tr>
            <td class="right">Name</td><td>{{ form.name }}</td><td>The software asset's name.</td>
        </tr>
        <tr>
            <td class="right">Desc</td><td>{{ form.desc }}</td><td>A description of the software asset.</td>
        </tr>
        <tr>
            <td class="right">Org. Unit</td><td>{{ form.org_unit }}</td><td>The organizational unit to which this asset belongs.</td>
        </tr>
        <tr>
            <td class="right">Custodian (SWAM)</td><td>{{ form.custodian_swam }}</td><td>This asset's software asset management custodian.</td>
        </tr>
        <tr>
            <td class="right">Custodian (CSM)</td><td>{{ form.custodian_csm }}</td><td>This asset's configuration security management custodian.</td>
        </tr>
        <tr>
            <td class="right">Custodian (VUL)</td><td>{{ form.custodian_vul }}</td><td>This asset's patching/vulnerability management custodian.</td>
        </tr>
        <tr>
            <td class="right">Parent Hardware</td><td>{{ form.parent_hardware }}</td><td>The parent hardware of this asset.</td>
        </tr>
        <tr>
            <td class="right">Parent Software</td><td>{{ form.parent_software }}</td><td>Parent software of this asset.</td>
        </tr>
        <tr>
            <td class="right">Software Property ID</td><td>{{ form.sw_property_id }}</td><td>This asset's company-assigned software property ID.</td>
        </tr>
    </table>
    <h2>Package Info</h2>
    <table>
        <tr>
            <th>Attribute</th><th>Setting</th><th class="left">Description</th>
        </tr>
        <tr>
            <td class="right">Type</td><td>{{ form.software_type }}</td><td>The software type.</td>
        </tr>
        <tr>
            <td class="right">Package Vendor</td><td>{{ form.package_vendor }}</td><td>The vendor for this asset.</td>
        </tr>
        <tr>
            <td class="right">Package Name</td><td>{{ form.package_name }}</td><td>The package name for this asset.</td>
        </tr>
        <tr>
            <td class="right">Package Version</td><td>{{ form.package_version }}</td><td>The package version for this asset.</td>
        </tr>
    </table>
    <h2>Status Info</h2>
    <table>
        <tr>
            <th>Attribute</th><th>Setting</th><th class="left">Description</th>
        </tr>
        <tr>
            <td class="right">Status</td><td>{{ form.status }}</td><td>The current status of this asset.</td>
        </tr>
        <tr>
            <td class="right">Date Added</td><td>{{ form.date_added }}</td><td>The date that this asset was added to the system.</td>
        </tr>
        <tr>
            <td class="right">End of Life</td><td>{{ form.date_eol }}</td><td>This asset's expected end of life date.</td>
        </tr>
    </table>
    <h2>Networking Info</h2>
    <table>
        <tr>
            <th>Attribute</th><th>Setting</th><th class="left">Description</th>
        </tr>
        <tr>
            <td class="right">Hostname</td><td>{{ form.hostname }}</td><td>This asset's hostname, if applicable.</td>
        </tr>
        <tr>
            <td class="right">Domain Name</td><td>{{ form.domain_name }}</td><td>This asset's domain name, if applicable.</td>
        </tr>
        <tr>
            <td class="right">IPv4 Address 1</td><td>{{ form.ip4_address_1 }}</td><td>An IPv4 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv4 Address 2</td><td>{{ form.ip4_address_2 }}</td><td>An IPv4 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv4 Address 3</td><td>{{ form.ip4_address_3 }}</td><td>An IPv4 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv4 Address 4</td><td>{{ form.ip4_address_4 }}</td><td>An IPv4 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv4 Address 5</td><td>{{ form.ip4_address_5 }}</td><td>An IPv4 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv4 Address 6</td><td>{{ form.ip4_address_6 }}</td><td>An IPv4 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv4 Address 7</td><td>{{ form.ip4_address_7 }}</td><td>An IPv4 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv4 Address 8</td><td>{{ form.ip4_address_8 }}</td><td>An IPv4 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv6 Address 1</td><td>{{ form.ip6_address_1 }}</td><td>An IPv6 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv6 Address 2</td><td>{{ form.ip6_address_2 }}</td><td>An IPv6 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv6 Address 3</td><td>{{ form.ip6_address_3 }}</td><td>An IPv6 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv6 Address 4</td><td>{{ form.ip6_address_4 }}</td><td>An IPv6 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv6 Address 5</td><td>{{ form.ip6_address_5 }}</td><td>An IPv6 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv6 Address 6</td><td>{{ form.ip6_address_6 }}</td><td>An IPv6 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv6 Address 7</td><td>{{ form.ip6_address_7 }}</td><td>An IPv6 address for this asset.</td>
        </tr>
        <tr>
            <td class="right">IPv6 Address 8</td><td>{{ form.ip6_address_8 }}</td><td>An IPv6 address for this asset.</td>
        </tr>
    </table>
    <input type="submit" value="Save" />
</form>

{% endblock %}
