{% include "hwam/base.html" %}

<h1>{{ sw.asset_name }} (Software Asset)</h1>
<a href="{% url 'hwam:sw_update' sw.id %}">Edit</a>
<p>{{ sw.desc }}</p>
<ul>
    <li>Organizational Unit:
        <a href="{% url 'hwam:ou_detail' sw.org_unit.id %}">
            {{ sw.org_unit }}</a></li>
    <li>Custodians:<ul>
            <li>Inventory (SWAM):
                {% if sw.custodian_swam %}
                    {{ sw.custodian_swam.username }}
                    <a href="mailto:{{ sw.custodian_swam.email }}">
                        {{ sw.custodian_swam.email }}</a>
                {% else %}
                    {{ sw.org_unit.unit_contact.username }}
                    <a href="mailto:{{ sw.org_unit.unit_contact.email }}">
                        {{ sw.org_unit.unit_contact.email }}</a>
                {% endif %}
            </li>
            <li>Configuration (CSM):
                {% if sw.custodian_csm %}
                    {{ sw.custodian_csm.username }}
                    <a href="mailto:{{ sw.custodian_csm.email }}">
                        {{ sw.custodian_csm.email }}</a>
                {% else %}
                    {{ sw.org_unit.unit_contact.username }}
                    <a href="mailto:{{ sw.org_unit.unit_contact.email }}">
                        {{ sw.org_unit.unit_contact.email }}</a>
                {% endif %}
            </li>
            <li>Patching (VUL):
                {% if sw.custodian_vul %}
                    {{ sw.custodian_vul.username }}
                    <a href="mailto:{{ sw.custodian_vul.email }}">
                        {{ sw.custodian_vul.email }}</a>
                {% else %}
                    {{ sw.org_unit.unit_contact.username }}
                    <a href="mailto:{{ sw.org_unit.unit_contact.email }}">
                        {{ sw.org_unit.unit_contact.email }}</a>
                {% endif %}
            </li>
        </ul></li>
    {% if sw.parent_hardware.all %}
    <li>Parent Hardware:<ul>
        {% for a in sw.parent_hardware.all %}
            <li><a href="{% url 'hwam:hw_detail' a.id %}">
                    {{ a }}</a></li>
        {% endfor %}
        </ul></li>
    {% endif %}
    {% if sw.parent_software.all %}
        <li>Parent Software:<ul>
            {% for a in sw.parent_software.all %}
                <li><a href="{% url 'hwam:sw_detail' a.id %}">
                        {{ a }}</a></li>
            {% endfor %}
            </ul></li>
    {% endif %}
    {% if sw.child_software.all %}
        <li>Child Software:<ul>
            {% for a in sw.child_software.all %}
                <li><a href="{% url 'hwam:sw_detail' a.id %}">
                        {{ a }}</a></li>
            {% endfor %}
            </ul></li>
    {% endif %}
    <li>Software Type: {{ sw.software_type }}</li>
    <li>Package Name/Version:
        {{ sw.package_name }}-{{ sw.package_version }}
    </li> 
    <li>Software Property ID: {{ sw.sw_property_id }}</li>
    <li>Status: {{ sw.status }}</li>
    <li>Lifespan:<ul>
        <li>Date Added: {{ sw.date_added }}</li>
        <li>EOL Date: {{ sw.date_eol }}</li></ul></li>
</ul>
