BODY {
    background: #000000;
    color: #EAE9E7;
}

DIV.topbar {
    float:top;
}

DIV.navbar-content {
    border: 3px solid;
    border-color: #444444;
    padding: 0.25%;
    font-size: 1.2em;
}

DIV.main {
    padding: 0.5%;
}

DIV.footer {
    font-size: 0.7em;
    padding-top: 12px;
    padding-bottom: 8px;
}

DIV.license {
    text-align: left;
    display: inline-block;
}

DIV.pagination {
    padding-top: 8px;
    padding-bottom: 16px;
}

TABLE, TH, TD {
    border: 1px solid;
    border-color: #444444;
}

TH.left { text-align: left; }

TABLE.event {
    display: inline-block;
    overflow-x: auto;
    white-space: nowrap;
}

TABLE.searchform { border: none; }

TD.searchform {
    border: none;
    text-align: right;
}

TD.searchsubmit {
    border: none;
}
A.navbar:link, A.navbar:visited {
    color: #4444FF;
    text-decoration: none;
}

A.navbar:hover {
    text-decoration: underline;
}

A {
    color: #4444FF;
}

A:visited {
    color: #995CDD;
}

UL {
    list-style-position: outside;
}
