BODY {
    background: #000000;
    color: #EAE9E7;
}

DIV.topbar {
    float:top;
}

DIV.navbar-content {
    border: 3px solid;
    border-color: #444444;
    padding: 0.25%;
    font-size: 1.2em;
}

DIV.main {
    padding: 0.5%;
}

TABLE, TH, TD {
    border: 2px solid;
    border-color: #444444;
}

A.navbar:link, A.navbar:visited {
    color: #4444FF;
    text-decoration: none;
}

A.navbar:hover {
    text-decoration: underline;
}

A:visited {
    color: #995CDD;
}

UL {
    list-style-position: outside;
}
