{% load static %}


<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <title>{% block title %}{% endblock %}LogESP</title>
</head>
<body>
    <div class="topbar">
        {% include "navigation.html" %}
        {% block navbar %}
        {% endblock %}
    </div>
    
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer">
        {% include "footer.html" %}
    </div>
</body>
