
<div id="topbar">
    <div class="navbar">
        <div class="navbar-side-navbar-left"></div>
        <div class="navbar-content">
            <b>LDSI</b>
            &middot
            <a class="navbar" href="{% url 'index' %}">Home</a>
            &middot
            <a class="navbar" href="{% url 'hwam:index' %}">HWAM</a>
            &middot
            <a class="navbar" href="{% url 'risk:index' %}">Risk</a>
            &middot
            <a class="navbar" href="{% url 'admin:index' %}">Admin</a>
            &middot
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
        <div class="navbar-side-navbar-left"></div>
    </div>
</div>
