
    <div class="navbar">
        <div class="navbar-content">
            <div class="navbar-left">
            <a class="navbar" href="{% url 'index' %}"><b>LogESP</b></a>
            &middot;
            <a class="navbar" href="{% url 'hwam:index' %}">Assets</a>
            &middot;
            <a class="navbar" href="{% url 'risk:index' %}">Risk</a>
            &middot;
            <a class="navbar" href="{% url 'siem:index' %}">SIEM</a>
            </div>
            <div class="navbar-right">
            {% if user.is_staff %}
                <a class="navbar" href="{% url 'admin:index' %}">Admin</a>
                &middot;
            {% endif %}
            {% if user.is_authenticated %}
                <a class="navbar" href="{% url 'password_change' %}">
                    Change Password</a>
                &middot;
                <a class="navbar" href="{% url 'logout' %}?next={% url 'index' %}">
                    Logout</a>
            {% else %}
                <a class="navbar" href="{% url 'login' %}?next={% url 'index' %}">
                    Login</a>
            {% endif %}
            </div>
        </div>
    </div>
