
<div id="topbar">
    <div class="navbar">
        <div class="navbar-side-navbar-left"></div>
        <div class="navbar-content">
            <b>LDSI</b>
            &middot
            <a class="static" href="{% url 'index' %}">Home</a>
            &middot
            <a class="static" href="{% url 'hwam:index' %}">HWAM</a>
            &middot
            <a class="static" href="{% url 'admin:index' %}">Admin</a>
        </div>
        <div class="navbar-side-navbar-left"></div>
    </div>
</div>
