[Unit]
Description=LogESP daemon
Requires=mysql.service network.target
Documentation=https://github.com/dogoncouch/LogESP
DefaultDependencies=no

[Service]
RemainAfterExit=true
ExecStart=/opt/LogESP/scripts/logesp start
ExecReload=/opt/LogESP/scripts/logesp restart
ExecStop=/opt/LogESP/scripts/logesp stop
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
