{% extends "risk/base.html" %}

{% block content-main %}

<h1>Adversarial Threat Events</h1>
{% if user.is_staff %}
    <a href="{% url 'admin:risk_advthreatevent_changelist' %}">Admin</a>
{% endif %}
<a href="{% url 'risk:ate_create' %}">Add</a>

{% if ate_list %}
    <table>
        <tr><th>Threat Event</th><th>Assigned<br>Risk</th></tr>
        {% for ate in ate_list %}
            <tr><td><a href="{% url 'risk:ate_detail' ate.id %}">
                    {{ ate }}</td></a><td>{{ ate.assigned_risk }}</td></tr>
        {% endfor %}
    </table>
{% else %}
    <p>No adversarial threats.</p>
{% endif %}

{% endblock %}
