{% extends "risk/base.html" %}

{% block sub-title %}Adversarial Threat Events | {% endblock %}

{% block content-main %}

<h1>Adversarial Threat Events</h1>
<a href="{% url 'risk:ats_index' %}">Sources</a>
&middot;
<a href="{% url 'risk:vuln_index' %}">Vulnerabilities</a>
&middot;
<a href="{% url 'risk:impact_index' %}">Impacts</a>
&middot;
<a href="{% url 'risk:response_index' %}">Responses</a>
<br>
<br>

<a href="{% url 'risk:ate_create' %}">Add Event</a>
<br>

{% if ate_list %}
    <table>
        <tr><th>Threat Event</th><th>Relevance</th><th>Assigned<br>Risk</th></tr>
        {% for ate in ate_list %}
            <tr><td><a href="{% url 'risk:ate_detail' ate.id %}">
                    {{ ate }}</a></td>
                <td>{{ ate.get_relevance_display }}</td>
                <td>{{ ate.assigned_risk }}</td></tr>
        {% endfor %}
    </table>
{% else %}
    <p>No adversarial threat events.</p>
{% endif %}

<p>Based on <a href="https://csrc.nist.gov/publications/detail/sp/800-30/rev-1/final">NIST SP 800-30r1</a>.</p>

{% endblock %}
