{% extends "risk/base.html" %}

{% block sub-title %}Adversarial Threat Event {{ ate }} | {% endblock %}

{% block content-main %}

<h1>{{ ate }} (Adversarial Threat Event)</h1>
<a href="{% url 'risk:ate_update' ate.id %}">Edit</a>
&middot;
<a href="{% url 'risk:ate_delete' ate.id %}">Delete</a>
&middot;
<a href="{% url 'risk:ate_index' %}">Index</a>

<p>{{ ate.desc }}</p>
<ul>
    <li>Type: {{ ate.event_type }}</li>
    <li>Info Source: {{ ate.info_source }}</li>
    <li>Info Tier: {{ate.get_tier_display }}</li>
    <li>Relevance: {{ ate.get_relevance_display }}</li>
    <li>Sources (capability/intent/targeting):<ul>
            {% for s in ate.sources.all %}
                <li><a href="{% url 'risk:ats_detail' s.id %}">{{ s }}
                        ({{ s.capability }}/{{ s.intent }}/{{ s.targeting }})</a></li>
            {% endfor %}
        </ul></li>
    <li>Vulnerabilities (severity):<ul>
            {% for v in ate.vulnerabilities.all %}
                <li><a href="{% url 'risk:vuln_detail' v.id %}">{{ v }}
                        ({{ v.severity }})</a></li>
            {% endfor %}
        </ul></li>
    <li>Responses (effectiveness/status):<ul>
            {% for r in ate.responses.all %}
                <li><a href="{% url 'risk:response_detail' r.id %}">{{ r }}
                    ({{ r.effectiveness }}/{{ r.get_status_display }})</a></li>
            {% endfor %}
        </ul></li>
    <li>Likelihoods:<ul>
            <li>Likelihood of initiation: {{ ate.likelihood_initiation }}</li>
            <li>Likelihood of adverse impact: {{ ate.likelihood_impact }}</li>
            <li>Calculated Likelihood: {{ ate.calc_likelihood }}</li>
        </ul></li>
    <li>Impacts (severity/impact tier):<ul>
            {% for i in ate.impacts.all %}
                <li><a href="{% url 'risk:impact_detail' i.id %}">{{ i }}
                        ({{ i.severity }}/{{ i.get_impact_tier_display }})</a></li>
            {% endfor %}
        </ul></li>
    <li>Assigned Risk: {{ ate.assigned_risk }}</li>
</ul>

{% endblock %}
