{% include "risk/base.html" %}

<h1>{{ ate.name }} (Adversarial Threat Event)</h1>
<p>{{ ate.desc }}</p>
<ul>
    <li>Category: {{ ate.category }}</li>
    <li>Sources:<ul>
            {% for s in ate.sources %}
                <li>{{ s }}</li>
            {% endfor %}
        </ul></li>
    <li>Relevance: {{ ate.relevance }}</li>
    <li>Info Source: {{ ate.info_source }}</li>
    <li>Tier: {{ate.tier }}</li>
    <li>Likelihoods:<ul>
            <li>Likelihood of initiation: {{ ate.likelihood_initiation }}</li>
            <li>Likelihood of adverse impact: {{ ate.likelihood_impact }}</li>
            <li>Calculated Likelihood: {{ ate.calc_likelihood }}</li>
        </ul></li>
    <li>Impacts:<ul>
            {% for i in ate.impacts %}
                <li>{{ i }}</li>
            {% endfor %}
        </ul></li>
    <li>Vulnerabilities:<ul>
            {% for v in ate.vulnerabilities %}
                <li>{{ v }}</li>
            {% endfor %}
        </ul></li>
</ul>
