{% extends "risk/base.html" %}

{% block sub-title %}Adversarial Threat Source - {{ ats }} | {% endblock %}

{% block content-main %}

<h1>{{ ats }} (Adversarial Threat Source)</h1>
<a href="{% url 'risk:ats_update' ats.id %}">Edit</a>
&middot;
<a href="{% url 'risk:ats_delete' ats.id %}">Delete</a>
&middot;
<a href="{% url 'risk:ats_index' %}">Index</a>

<p>{{ ats.desc }}</p>

<ul>
    <li>In Scope?: {{ ats.in_scope }}</li>
    <li>Threat Source Type: {{ ats.source_type }}</li>
    <li>Info Source:<ul>
            <li>Info Source: {{ ats.info_source }}</li>
            <li>Info Source Tier: {{ ats.get_tier_display }}</li>
        </ul></li>
    <li>Threat Source Details:<ul>
            <li>Capability: {{ ats.capability }}</li>
            <li>Intent: {{ ats.intent }}</li>
            <li>Targeting: {{ ats.targeting }}</li>
        </ul></li>
</ul>

{% endblock %}
