{% extends "risk/base.html" %}

{% block sub-title %}Risk Management Documentation | {% endblock %}

{% block content-main %}

<h1>LogESP Risk Management Documentation</h1>

<p>The LogESP risk management system is based on the <a href="https://csrc.nist.gov/publications/detail/sp/800-30/rev-1/final">NIST risk assessment guidelines</a>.</p>

<h2>Index</h2>

<ul>
    <li><a href="{% url 'risk:help_adv_threat' %}">Adversarial Threats</a></li>
    <ul>
        <li><a href="{% url 'risk:help_adv_threat' %}#adversarial-threat-events">Adversarial Threat Events</a></li>
        <li><a href="{% url 'risk:help_adv_threat' %}#adversarial-threat-sources">Adversarial Threat Sources</a></li>
        <li><a href="{% url 'risk:help_adv_threat' %}#vulnerabilities">Vulnerabilities</a></li>
        <li><a href="{% url 'risk:help_adv_threat' %}#responses">Responses</a></li>
        <li><a href="{% url 'risk:help_adv_threat' %}#impacts">Impacts</a></li>
    </ul></li>
    <li><a href="{% url 'risk:help_nonadv_threat' %}">Non-Adversarial Threats</a></li>
    <ul>
        <li><a href="{% url 'risk:help_nonadv_threat' %}#non-adversarial-threat-events">Non-Adversarial Threat Events</a></li>
        <li><a href="{% url 'risk:help_nonadv_threat' %}#non-adversarial-threat-sources">Non-Adversarial Threat Sources</a></li>
        <li><a href="{% url 'risk:help_nonadv_threat' %}#risk-conditions">Risk Conditions</a></li>
        <li><a href="{% url 'risk:help_nonadv_threat' %}#responses">Responses</a></li>
        <li><a href="{% url 'risk:help_nonadv_threat' %}#impacts">Impacts</a></li>
    </ul>
</ul>

{% endblock %}
