{% extends "risk/base.html" %}

{% block sub-title %}Impact - {{ impact }} | {% endblock %}

{% block content-main %}

<h1>{{ impact }} (Impact)</h1>
<a href="{% url 'risk:impact_update' impact.id %}">Edit</a>
&middot;
<a href="{% url 'risk:impact_delete' impact.id %}">Delete</a>
&middot;
<a href="{% url 'risk:impact_index' %}">Index</a>

<p>{{ impact.desc }}</p>

<ul>
    <li>Impact Type: {{ impact.impact_type }}</li>
    <li>Information Source: {{ impact.info_source }}</li>
    <li>Info Source Tier: {{ impact.tier }}</li>
    <li>Severity (1-100): {{ impact.severity }}</li>
    <li>Impact Tier: {{ impact.impact_tier }}</li>
</ul>

{% endblock %}
