{% extends "risk/base.html" %}

{% block sub-title %} | Index{% endblock %}

{% block content-main %}

<h1>Risk Management</h1>

<p>Based on <a href="https://csrc.nist.gov/publications/detail/sp/800-30/rev-1/final">NIST SP 800-30r1</a>.</p>

<ul>
    <li><a href="{% url 'risk:ate_index' %}">
            Adversarial Threats</a></li>
    <li><a href="{% url 'risk:nte_index' %}">
            Non-Adversarial Threats</a></li>
    <li><a href="{% url 'risk:impact_index' %}">Impacts</a></li>
    <li><a href="{% url 'risk:response_index' %}">Responses</a></li>
</ul>

{% endblock %}
