
<div id="topbar">
    <div class="navbar">
        <div class="navbar-content">
            <b>Risk</b>
            &middot
            <a class="navbar" href="{% url 'risk:index' %}">
                Home</a>
            &middot
            <a class="navbar" href="{% url 'risk:at_index' %}">
                Adv. Threats</a>
            &middot
            <a class="navbar" href="{% url 'risk:nt_index' %}">
                Non-Adv. Threats</a>
            &middot
            <a class="navbar" href="{% url 'risk:impact_index' %}">
                Impacts</a>
        </div>
    </div>
</div>
