
<div id="topbar">
    <div class="navbar">
        <div class="navbar-side-navbar-left"></div>
        <div class="navbar-content">
            <b>Risk</b>
            &middot
            <a class="navbar" href="{% url 'risk:index' %}">Home</a>
            &middot
            <a class="navbar" href="{% url 'risk:ate_index' %}">Adv. Events</a>
            &middot
            <a class="navbar" href="{% url 'risk:nte_index' %}">NonAdv. Events</a>
            &middot
            <a class="navbar" href="{% url 'risk:ats_index' %}">Adv. Sources</a>
            &middot
            <a class="navbar" href="{% url 'risk:nts_index' %}">NonAdv. Sources</a>
        </div>
        <div class="navbar-side-navbar-left"></div>
    </div>
</div>
