{% extends "risk/base.html" %}

{% block sub-title %} | Non-Adversarial Threats{% endblock %}

{% block content-main %}

<h1>Non-Adversarial Threats</h1>

<p>Based on <a href="https://csrc.nist.gov/publications/detail/sp/800-30/rev-1/final">NIST SP 800-30r1</a>.</p>

<ul>
    <li>Non-Adversarial Threats:<ul>
            <li><a href="{% url 'risk:nts_index' %}">
                    Non-Adversarial Threat Sources</a></li>
            <li><a href="{% url 'risk:nte_index' %}">
                    Non-Adversarial Threat Events</a></li>
            <li><a href="{% url 'risk:cond_index' %}">
                    Predisposing Conditions</a></li>
        </ul></li>
    <li><a href="{% url 'risk:impact_index' %}">Impacts</a></li>
    <li><a href="{% url 'risk:response_index' %}">Responses</a></li>
</ul>

{% endblock %}
