{% extends "risk/base.html" %}

{% block sub-title %}Non-Adversarial Threat Event - {{ nte }} | {% endblock %}

{% block content-main %}

<h1>{{ nte }} (Non-Adversarial Threat Event)</h1>
<a href="{% url 'risk:nte_update' nte.id %}">Edit</a>
&middot;
<a href="{% url 'risk:nte_delete' nte.id %}">Delete</a>
&middot;
<a href="{% url 'risk:nte_index' %}">Index</a>

<p>{{ nte.desc }}</p>
<ul>
    <li>Type: {{ nte.event_type }}</li>
    <li>Info Source: {{ nte.info_source }}</li>
    <li>Info Tier: {{nte.get_tier_display }}</li>
    <li>Relevance: {{ nte.get_relevance_display }}</li>
    <li>Sources (range of effect):<ul>
            {% for s in nte.sources.all %}
                <li><a href="{% url 'risk:nts_detail' s.id %}">{{ s }}
                        ({{ s.range_of_effect }})</a></li>
            {% endfor %}
        </ul></li>
    <li>Predisposing Conditions (pervasiveness):<ul>
            {% for v in nte.risk_conditions.all %}
                <li><a href="{% url 'risk:cond_detail' v.id %}">{{ v }}
                        ({{ v.pervasiveness }})</a></li>
            {% endfor %}
        </ul></li>
    <li>Responses (effectiveness/status):<ul>
            {% for r in nte.responses.all %}
                <li><a href="{% url 'risk:response_detail' r.id %}">{{ r }}
                    ({{ r.effectiveness }}/{{ r.get_status_display }})</a></li>
            {% endfor %}
        </ul></li>
    <li>Likelihoods:<ul>
            <li>Likelihood of initiation: {{ nte.likelihood_initiation }}</li>
            <li>Likelihood of adverse impact: {{ nte.likelihood_impact }}</li>
            <li>Calculated Likelihood: {{ nte.calc_likelihood }}</li>
        </ul></li>
    <li>Impacts (severity/impact tier):<ul>
            {% for i in nte.impacts.all %}
                <li><a href="{% url 'risk:impact_detail' i.id %}">{{ i }}
                        ({{ i.severity }}/{{ i.get_impact_tier_display }})</a></li>
            {% endfor %}
        </ul></li>
    <li>Assigned Risk: {{ nte.assigned_risk }}</li>
</ul>

{% endblock %}
