{% extends "risk/base.html" %}

{% block content-main %}

<h1>Non-Adversarial Threat Events</h1>
{% if user.is_staff %}
    <a href="{% url 'admin:risk_nonadvthreatevent_changelist' %}">Admin</a>
{% endif %}
<a href="{% url 'risk:nte_create' %}">Add</a>

{% if nte_list %}
    <ul>
        {% for nte in nte_list %}
            <li><a href="{% url 'risk:nte_detail' nte.id %}">
                    {{ nte }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No non-adversarial threats.</p>
{% endif %}

{% endblock %}
