{% extends "risk/base.html" %}

{% block content-main %}

<h1>{{ nts.name }} (Non-Adversarial Threat Source)</h1>
<a href="{% url 'risk:nts_update' nts.id %}">Edit</a>

<p>{{ nts.desc }}</p>

<ul>
    <li>In Scope?: {{ nts.in_scope }}</li>
    <li>Threat Source Type: {{ nts.source_type }}</li>
    <li>Info Source:<ul>
            <li>Info Source: {{ nts.info_source }}</li>
            <li>Info Source Tier: {{ nts.tier }}</li>
        </ul></li>
    <li>Range of Effect: {{ nts.range_of_effect }}</li>
</ul>

{% endblock %}
