{% extends "risk/base.html" %}

{% block sub-title %}Response - {{ response }} | {% endblock %}

{% block content-main %}

<h1>{{ response }} (Risk Response)</h1>
<a href="{% url 'risk:response_update' response.id %}">Edit</a>
&middot;
<a href="{% url 'risk:response_delete' response.id %}">Delete</a>
&middot;
<a href="{% url 'risk:response_index' %}">Index</a>

<p>{{ response.desc }}</p>

<ul>
    <li>Response Type: {{ response.response_type }}</li>
    <li>Effectiveness: {{ response.effectiveness }}</li>
    <li>Status: {{ response.get_status_display }}</li>
</ul>

{% endblock %}
