{% extends "risk/base.html" %}

{% block sub-title %}Add Condition | {% endblock %}

{% block content-main %}

<h1>Add Condition</h1>
{% if form.errors %}
<p>There were some errors.</p>

<ul>
    {% for field in form %}
    {% if field.errors %}
    <li>{{ field.label_tag }}: {{ field.errors }}</li>
    {% endif %}
    {% endfor %}
</ul>

{% endif %}

<form action="" method="post">{% csrf_token %}
    <table>
        <tr>
            <th>Attribute</th><th>Setting</th><th class="left">Description</th>
        </tr>
        <tr>
            <td class="right">Name</td><td>{{ form.name }}</td><td>The condition's name.</td>
        </tr>
        <tr>
            <td class="right">Desc</td><td>{{ form.desc }}</td><td>A description of the condition.</td>
        </tr>
        <tr>
            <td class="right">Type</td><td>{{ form.condition_type }}</td><td>The condition type.</td>
        </tr>
        <tr>
            <td class="right">Info Source</td><td>{{ form.info_source }}</td><td>The source for information on this condition.</td>
        </tr>
        <tr>
            <td class="right">Info Source Tier</td><td>{{ form.tier }}</td><td>The info source tier.</td>
        </tr>
        <tr>
            <td class="right">Pervasiveness</td><td>{{ form.pervasiveness }}</td><td>The pervasiveness of this condition.</td>
        </tr>
    </table>
    <input type="submit" value="Save" />
</form>

{% endblock %}
