{% extends "risk/base.html" %}

{% block sub-title %}Vulnerability - {{ vuln }} | {% endblock %}

{% block content-main %}

<h1>{{ vuln }} (Vulnerability)</h1>
<a href="{% url 'risk:vuln_update' vuln.id %}">Edit</a>
&middot;
<a href="{% url 'risk:vuln_delete' vuln.id %}">Delete</a>
&middot;
<a href="{% url 'risk:response_index' %}">Index</a>

<p>{{ vuln.desc }}</p>

<ul>
    <li>Vulnerability Type: {{ vuln.vuln_type }}</li>
    <li>Severity (1-100): {{ vuln.severity }}</li>
    <li>Information Source: {{ vuln.info_source }}</li>
    <li>Info Source Tier: {{ vuln.tier }}</li>
</ul>

{% endblock %}
